body{
  background: linear-gradient(to right, #dbeeff, #6ec0ff);
}
.header{
  background: linear-gradient(to bottom, #dbeeff, #6ec0ff);
}

.image-list-category {
  background: linear-gradient(to right, #ffd7f3, #ff6bfa);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.card{
  background: linear-gradient(to right, #e6ffff, #95fcfb);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}